header {
  display: flex;
  align-items: center;
  height: 5em;
  background: #eee;
}
span {
  font-size : 25;
  font-weight: bold;
}
img {
  width: 4em;
}
a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
